#####################################################################################################
*
!/**/
##去除哪些路径
.obsidian/
.history/
.stversions/

obsidian@localrestapi/
# /dirignore2/
##只包含哪些结尾的文件
!*.c
!*.h
!*.cpp
!*.sh
!*.xml
!*.html
!*.py
!*.md
!*.jar
!*.scala
!*.java
!*.kksrc
!*.svg
!*.png
!*.jpg
!*.jpeg
!.gitignore
!obsidian.code-workspace